
body,
html {
    height: 100%;
}

body {
    font-family: 'robotomedium';
    background: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1;
    background: url('~img/bg.png') center center no-repeat;
    background-size: cover;
    padding: 45px 20px;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

* {
    box-sizing: border-box;
}

h2 {
    margin-bottom: 45px;
    font-size: 21px;
}

button {
    background-color: #08af9c;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px 20px;
    line-height: 25px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border-color: transparent;
    margin: 10px;
}

button:hover {
    background-color: #088b82;
    transition: .5s;
}

input, textarea {
    border-radius: 5px;
    padding: 5px;
    outline: none;
    text-align: center;
    border: 1px solid transparent;
    &:focus {
        border: 1px solid #00bfa5;
        transition: .5s;
    }
}